.counter-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
.menu {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu-title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}
.cart {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cart-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
span {
  font-size: 18px;
  color: #555;
}
.btn {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
   margin: 0 10px;
}

.btn:hover {
  background-color: #218838;
}

.btn:active {
  transform: scale(0.95);
}
.reset-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 110px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
}

.reset-btn:hover {
  background-color: #c82333;
}

.reset-btn:active {
  transform: scale(0.95);
}
p {
  margin: 0;
  font-size: 18px;
  color: #333;
}
